.container-btn-pagina{
    display: flex;
    gap: 10px;
}

.btn-schedule-table{
    background-color: var(--primary-color);
    color: var(--background-color);
}

.vendas-view{
    min-height: 640px;
}