.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scroll */
  position: relative;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  /* Using a pseudo-element to apply the background with opacity */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/quadras02.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Only the background image has opacity */
    z-index: -1;
  }
}

.layout-content {
  display: flex;
  flex: 1;
  overflow-x: hidden; /* Prevent horizontal scroll */
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}

.column-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scroll */
}
