@import '../../styles/variables';

.carousel-container {
  position: relative;
  width: 100%;
  height: 400px; // Adjust as needed
  overflow: hidden;
  z-index: 0;

  .carousel-overlay {
    position: absolute;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.8;
  }

  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: 0;
    transform: scale(1); // Start at normal scale
    transition: opacity 1s ease-in-out, transform 5s linear; // Added smooth zooming

    &.active {
      opacity: 1;
      z-index: 1;
      transform: scale(1.1); // Slight zoom effect
    }
  }
}
