.court-card-container {
    display: flex;
    padding: 20px;
    width: 100%;
    border: solid white 1px;
    border-radius: 10px;
    position: relative; /* Enables layering with z-index */
    z-index: 1; /* Ensure it appears above the parent's background */
    transition: all 0.4s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5); /* Add hover effect */
        cursor: pointer;
    }

    & > img {
        height: 100px;
        width: 100px;
    }

    & > .info-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
        gap: 5px;
    }

    & > .info-card > p {
        margin: 0;
        color: var(--primary-color);
    }

    & > .bg-img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1; /* Keeps the background behind the card content */

        & > .bg-img {
            background-image: url('../../assets/quadrasCliente.jpg'); /* Replace with your actual path */
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            pointer-events: none; /* Prevent it from capturing mouse events */
        }
    }
}

.card-select-container{
    display: inline-flex;
    gap: 5px;
}
