@import './styles/variables';

* {
  box-sizing: border-box; /* Add this line */
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  display: contents;
  transition: all .4s;
  background-color: rgb(32, 32, 65);
}

.default-page{
  height: 100%;
  width: 100%;
  display: flex;
  //background-color: beige
}

.hr-global{
  width: 100%;
  margin: 1rem 0;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
  color: gray;
}
